@if (item.type === inputTypes.INPUT || item.type === inputTypes.TEXTAREA) {
  <app-input [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-input>
}
@if (item.type === inputTypes.DROPDOWN) {
  <app-dropdown [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-dropdown>
}
@if (item.type === inputTypes.RADIO) {
  <app-radio [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-radio>
}
@if (item.type === inputTypes.CHECKBOX) {
  <app-checkbox [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-checkbox>
}
@if (item.type === inputTypes.DATE_PICKER) {
  <app-datepicker [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-datepicker>
} 